.Header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
    background-color:#0c3b39;
} 
/* #logo{ 
    width: 100px;
    height: 100px;
}*/
#logo img{
    width:500px;
    height:250px ;
    margin-left: 95%; 
     margin-right: 50%; 
    display: block;

}

#name{
    width: 60%;
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}
body{
   background-color: #0c3b39;
}
.Heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
}

.sudoku_grid{
    display: flex;
    flex-direction: row;
    max-width: 578px;
    flex-wrap: wrap;

    margin: 10px auto ;
}

 .sudoku_grid div{ 
    display:  flex;
    align-items: center;
    justify-content: center;
    
    width: 60px;
    height: 60px;
    color: white;
    font-size: 40px;

    box-sizing: border-box;
}



.Buttons{   
    display: flex;
    justify-content: center;
    width: 100%;    
    margin-bottom: 80px;
    margin-top: auto;
}

#GetPuzzle, #SolvePuzzle {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #538fbe;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example box shadow */
    margin-right: 10px;
    cursor: pointer;
}

#GetPuzzle:hover, #SolvePuzzle:hover {
    background-color: #4079a3; /* Adjusted hover color */
}

/* Updated box styling */
.box1, .box2, .box3 {
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.box1 {
    background-color: #004080; /* Sampled color from the logo */
}

.box1:hover {
    background-color: #0066cc; /* Sampled hover color from the logo */
    color: #000;
}

.box2 {
    background-color: #993333; /* Sampled color from the logo */
}

.box2:hover {
    background-color: #cc0000; /* Sampled hover color from the logo */
}

.box3 {
    background-color: #006600; /* Sampled color from the logo */
}

.box3:hover {
    background-color: #00cc00; /* Sampled hover color from the logo */
    color: #000;
}

/* Updated border styling */
/* .bl, .bb, .br, .bt { 
    border: 2px solid rgba(0, 0, 0, 0.5);
}*/

/* Updated hover effect for borders */
.bl:hover, .bb:hover, .br:hover, .bt:hover {
    border: 2px solid #000;
}
